export(DNE)
export(DNE3d)
export(OPC)
export(OPC3d)
export(RFI)
export(RFI3d)
export(read.AVIZO.ply)
export(OPCr)
import(geomorph)
import(rgl)
import(alphahull)
import(psych)
importFrom("grDevices", "hsv", "rainbow", "rgb")
importFrom("stats", "aggregate", "quantile")
importFrom("utils", "capture.output")